<div fxLayout fxLayoutAlign='center'>
  <div class='register' fxLayout='column' fxLayoutGap='40px'>
    <custom-input [type]='"email"' [leftIcon]="'mail_outline'" [control]='"email"' [placeholder]='"Email"'
      [mainControl]='registerGroup' autocomplete="off"></custom-input>
    <custom-input [type]='"text"' [leftIcon]="'supervisor_account'" [control]='"nickname"' [placeholder]='"Nickname"'
      [mainControl]='registerGroup' autocomplete="off"></custom-input>
    <custom-input [type]='"password"' [leftIcon]="'lock'" [control]='"password"'
      [placeholder]='"Password"' [mainControl]='registerGroup' autocomplete="off"></custom-input>
    <custom-input [type]='"password"' [leftIcon]="'lock'" [control]='"re_password"'
      [placeholder]='"Re-enter password"' [mainControl]='registerGroup' autocomplete="off"></custom-input>
    <div class="pair" fxLayout='row' fxLayoutAlign='space-between center'>
      Load Image
      <button mat-button  (click)='openDialog()'>UploadFile</button>
    </div>
    <div class="error" *ngIf='error'>{{error}}</div>
    <div fxLayoutAlign='center'>
      <button mat-button (click)='submit()'>Register</button>
    </div>
  </div>
</div>