.song-card {
  height: 150px;
  border: 1px solid white;
  padding: 10px 25px;
  border-radius: 20px;

  .img {
    position: relative;
    img {
      height: 100px;
      width: 100px;
      object-fit: scale-down;
    }

    .spinner {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }

  .control {
    .button {
      border: 1px solid aquamarine;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      color: aquamarine;
      mat-icon {
        font-size: 30px;
        width: 30px;
        height: 30px;
      }
    }

    div {
      cursor: pointer;
      transition-duration: 0.1s;
    }

    div:hover {
      transition-duration: 0.1s;
      border-width: 2px;
    }
  }
}

.song-card.palying{
    border-color: aquamarine;
    border-width: 2px;
}
