<div fxLayout fxLayoutAlign='space-between' class='user-badge'>
  <div class="logo">
    <img [src]='data.imageUrl' *ngIf='!isLoading || !data.imageUrl'>
    <div class='spinner' *ngIf='isLoading' fxLayout fxLayoutAlign='center center'>
      <mat-spinner [diameter]='20'></mat-spinner>
    </div>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    <div fxLayout fxLayoutAlign='space-between center'>
      <span>{{data.nickname}}</span>
      <mat-icon> keyboard_arrow_down </mat-icon>
    </div>
  </button>
  <mat-menu #menu="matMenu">
    <div style="padding: 10px;" fxLayout='column' fxLayoutGap='5px'>
      <div>{{data.email}}</div>
      <button mat-button fxHide.gt-xs (click)='redirect("/songs")'>Songs</button>
      <mat-divider></mat-divider>
      <button mat-button (click)='logout()'>Logout</button>
    </div>
  </mat-menu>
</div>
