@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;600&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: whitesmoke;
}
body {
  margin: 0;
  font-family: "Inconsolata", monospace;
}
.mat-typography,
.mat-raised-button {
  font-family: "Inconsolata", monospace !important;
}
app-root,initial {
  width: 100%;
  height: 100%;
}

router-outlet {
  height: 0;
  width: 0;
}

ngx-file-drop {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  z-index: 1;

  .ngx-file-drop__drop-zone {
    height: 100% !important;
    border-color: white !important;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ngx-file-drop__content {
    color: white !important;
  }
}

.mat-spinner circle {
  stroke: white !important;
}

.mat-menu-content {
  padding: 10px !important;
}

.mat-divider {
  border-color: #7fffd4;
}

mat-form-field input {
  background-color: transparent !important;
}

::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: aquamarine !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: aquamarine;
}

.mat-checkbox-layout{
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
}