<div fxLayout fxFlex='100' fxLayoutGap='10px' fxLayoutAlign='start center'>
  <div fxLayout fxLayoutAlign='center center' class='icon-holder' *ngIf='leftIcon'>
    <mat-icon>{{leftIcon}}</mat-icon>
  </div>
  <mat-form-field fxFlex='100'>
    <mat-label *ngIf='label'>{{label}}</mat-label>
    <input autocomplete="off"  [type]='type?type:"text"' matInput [placeholder]="placeholder" [(ngModel)]='value' (ngModelChange)='getValue($event)'>
    <mat-icon style="color: red;" matSuffix *ngIf='suffix && hasError'>{{suffix}}</mat-icon>
    <mat-error *ngIf='hasError'>Error occured</mat-error> 
  </mat-form-field>
</div>